/*#### GLOBAL ####*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.clear{
	clear: both;
}

html,body{
	height: 100%;
}

/*#### HEADER ####*/

.container{
	width: 100%;
	max-width: 1280px;
	margin:0 auto;
}



/*#### DESTAQUES ####*/



/*#### SERVICOS ####*/



/*#### CONTATO ####*/



/*#### RODAPÉ ####*/