@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,300;1,400&display=swap');

*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

html,body{
    height: 100%;
    overflow: hidden;
}


header{
    height: 200px;
    padding: 20px 0;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo{
    width: 55%;
}

.menu{
    width: 45%;
    text-align: right;
    font-size: 18px;
    margin-top: 25px;
}

.menu a{
    text-decoration: none;
    margin-right: 25px;
    margin-left: 20px;
}

section.about{
    height: calc(100% - 250px);
    position: relative;
}

.extras{
    position: absolute;
    right: -550px;
    width: 1050px;
    height: 1000px;
    border-radius: 55%;
    background-color:#017143;
}

.social-media{
    position: absolute;
    right: 30px;
    top: 100px;
}

.social-media img{
    display: block;
    margin: 25px 0;
    width: 20px;
}

#smicon-facebook{
    width: 15px;
}

.text-about{
    margin-top: 10px;
    font-size: 50px;
}

.text-about p{
    margin: 20px 0;
    font-size: 18px;
    max-width: 600px;
    line-height: 24px;
}

.text-about button{
    border:0;
    background-color:#017143;
    color: white;
    border-radius: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    
}

.thumbnails{
    position: absolute;
    right: 500px;
    bottom: -40px;
}

.thumbnails > img{
    padding: 0 30px;
    max-width: 120px;
}