/*### GLOBAL ###*/

*{
    margin:0;
    padding:0;
}
   
html,body{
     height:100%;
}

/*### ESTRUTURA GERAL DO FORMULÁRIO ###*/

/*# POSICIONAMENTO, TAMANHO E ALINHAMENTO DOS ITENS DO FORMULÁRIO #*/
form{
    max-width: 600px;
    max-height: 800px;
    margin: 5px auto; 
    text-align: center;
    width: 96%;
}

/*# AGRUPADOR DE CAMPOS(BORDA) #*/
form fieldset{
    padding: 10px 40px;    
}

/*# DADOS PESSOAIS#*/
form fieldset legend{
    color:rgb(78, 76, 76);
    font-size: 15px;
    font-weight: bold;
    text-align: left;    
}

/*### CAMPOS DO FORMULÁRIO ###*/
form input,select,textarea{
    border: 1px solid #ccc;
}

/*# NOME E EMAIL #*/
form input[type=text], input[type=email]{
    font-family: tahoma;
    margin-top: 30px;
    padding: 10px 13px;
    width: 80%;    
}

/*# IDADE #*/
form select{
    color:rgb(100,100,100);
    display: inline-block;
    font-family: tahoma;
    margin-top: 30px;
    padding: 10px 13px;
    width: calc(80% + 26px);
}

/*# TÍTULOS #*/
form h3{
    color: rgb(100,100,100);
    margin-top: 15px;
}

/*# RADIO E CHECKBOX #*/
.input{
    display: inline-block;
    margin-top: 15px;
    text-align: left;
}

/*# TEXTAREA #*/
form textarea{
    border: 1px solid #ccc;
    font-family: tahoma;
    height: 100px;
    margin-top:30px;    
    padding: 10px 13px;
    resize: none;
    width: 80%;
    color: red;
}

/*### BOTÕES ###*/
.btn > input{
    background-color: rgb(172, 14, 14);
    border:2px solid rgb(130,130,130);   
    color:white;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin-top:30px;
    width: 140px;
}