/*#### GLOBAL ####*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

/*#### HEADER ####*/
header{
    width: 100%;
    height: 90vh;
    background-image: url(../Imagens/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 2%;
    font-weight: 300;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/*#### HEADER-MENU ####*/

header nav{
    float: right;
}

nav.mobile-menu{
    display: none;
}

header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: left;
    margin: 0 20px;
    color: white;
}

header nav.desktop-menu li a{
    text-decoration: none;
}

/*#### CHAMADA1 ####*/
.chamada1{
    max-width: 600px;
    float: right;
    margin: 160px 0;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/*#### SESSÃO 1 ####*/

section.sessao1.container{
    max-width: 800px;
}

section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
    margin-top: 0 auto;
}

.texto-sessao1{
    float: left;
    color: white;
    width: 50%;
    margin-top: 60px;
    padding-left: 240px;
}

.texto-sessao1 h2{
    font-weight: 300;
    font-size: 26px;
}

.texto-sessao1 p{
    font-size: 15px;
    margin-top: 20px;
}

.texto-sessao1 ul{
    list-style-position: inside;
    font-size: 15px;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #FF703D;
    height: 44px;
    width: 165px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
    font-size: 13px;
    margin-top: 30px;
}

.device-sessao1{
    float: left;
    width: 50%;
    height: 430px;
    position: relative;
    top: -30px;
    background-image: url(../Imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*#### RESPONSIVIDADE ####*/

@media screen and (max-width: 768px){

    header{
        width: 100%;
        min-height: 20vh;
        height: auto;
        padding: 40px 2%;
        font-weight: 300;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    nav.mobile-menu ul{
        list-style-type: none;
    }
    nav.mobile-menu ul a {
        text-decoration: none;
    }
    nav.mobile-menu ul li{
        color: white;
    }

    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        padding: 0 10px;
        color: white;
        font-weight: 300;
    }

    section.sessao-1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .btn1-texto{
        display: inline-block;
    }
    .device-sessao1{
        display: none;
    }
}