/*#### GLOBAL ####*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

/*#### HEADER ####*/
header{
    width: 100%;
    height: 90vh;
    background-image: url(../Imagens/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 2%;
    font-weight: 300;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/*#### HEADER-MENU ####*/

header nav{
    float: right;
}

nav.mobile-menu{
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../Imagens/menu.png');
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;

    background-color: white;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    color: black;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}
nav.mobile-menu ul li:hover{
    background-color: rgb(228, 115, 115);
}

nav.mobile-menu ul a li{
    color: black;
    text-decoration: none;
}

header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: left;
    margin: 0 20px;
    color: white;
}

header nav.desktop-menu li a{
    text-decoration: none;
}

/*#### CHAMADA1 ####*/
.chamada1{
    max-width: 600px;
    float: right;
    margin: 160px 0;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/*#### SESSÃO 1 ####*/

section.sessao1.container{
    max-width: 1000px;
    height: calc(100% + 30px);
}

section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 370px;
    margin-top: 0 auto;
}

.texto-sessao1{
    float: left;
    color: white;
    width: 50%;
    margin-top: 60px;
    padding-left: 240px;
}

.texto-sessao1 h2{
    font-weight: 300;
    font-size: 26px;
}

.texto-sessao1 p{
    font-size: 15px;
    margin-top: 20px;
}

.texto-sessao1 ul{
    list-style-position: inside;
    font-size: 15px;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #FF703D;
    height: 44px;
    width: 165px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
    font-size: 13px;
    margin-top: 30px;
}

.device-sessao1{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    top: -30px;
    background-image: url(../Imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*#### SESSAO 2 ####*/

section.sessao-2{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

section.sessao-2 .container{
    max-width: 1000px;
    margin-top: 0.83rem;
}

section.sessao-2 h2{
    color: #472663;
    font-weight: 300;
}

section.sessao-2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

section img{
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 70px;
}

/*#### SESSAO 3 ####*/

.sessao-3{
    width: 100%;
}

.part1{
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #835fa7;
}

.wraper-part1{
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background: white;
}

.sobre-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}

.titulo-autor{
	float: left;
	width: 100%;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor h2{
	color: #232323;
	font-weight: 400;
	font-size: 21px;
	padding-right: 20px;
}

.titulo-autor p{
	font-size: 13px;
	color: #232323;
	font-style: italic;
	font-weight: 300;
}

.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height:40px;
	position: relative;
	top:-4px;
	border-radius: 20px;
	background-color: gray;
}

.texto-autor{
	float: left;
	width: 100%;
	margin-top:10px;
}

.texto-autor p{
	color: #232323;
	font-size: 15px;
}

.slider-bullets{
	width: 100%;
	float: left;
	padding-left: 30px;
	margin-top:12px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 8px;
	background-color: rgb(200,200,200);
}

/*#### SESSAO 4 ####*/




/*#### RESPONSIVIDADE ####*/
@media screen and (max-width: 930px) {
    .texto-sessao1{
        width: 100%;
    }    
}

@media screen and (max-width: 830px){
    
    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 170px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        padding: 0 10px;
        color: white;
        font-weight: 300;
    }
}

@media screen and (max-width: 768px){

    header{
        width: 100%;
        min-height: 20vh;
        height: auto;
        padding: 40px 2%;
        font-weight: 300;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    nav.mobile-menu ul{
        list-style-type: none;
    }
    nav.mobile-menu ul a {
        text-decoration: none;
    }
    nav.mobile-menu ul li{
        color: white;
    }

    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        padding: 0 10px;
        color: white;
        font-weight: 300;
    }

    section.sessao-1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .btn1-texto{
        display: inline-block;
    }
    .device-sessao1{
        display: none;
    }

    section.sessao-2 .container{
        margin-top: 40px;
    }
}

@media screen and (max-width: 580px){
    .part1{
        width: 100%;
        padding: 40px 0;
    }

    .part2{
        width: 100%;
        padding: 40px 0;
    }

    .sessao2 img{
        top: 16px;
        margin-top: 20px;
    }

}