/*#### Global ####*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

/*#### Header ####*/
header{
    width: 100%;
    height: 90vh;
    background-image: url(../Imagens/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*max-height: 700px;*/
    padding: 40px 2%;
    font-weight: 300;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header nav{
    float: right;
}

header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    margin: 0 20px;
    color: white;
}

header li a{
    text-decoration: none;
}

/*#### Chamada1 ####*/
.chamada1{
    max-width: 600px;
    float: right;
    margin: 160px 0;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao1.container{
    max-width: 800px;
}

section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 20px 2%;
}

.texto-sessao1{
    float: left;
    color: white;
    width: 50%;
}

.texto-sessao1 h2{
    font-weight: 300;
}

.texto-sessao1 p{
    font-size: 13px;
    margin-top: 20px;
}

.texto-sessao1 ul{
    list-style-position: inside;
    font-size: 13px;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    padding: 5px;
}

.btn1-texto{
    background-color: #FF703D;
    height: 44px;
    width: 165px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;

}

.device-sessao1{
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(../Imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -200px;
}