/*###### GLOBAL ###### */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #c9cac2d2;
    height: 100%;
}

/*#### MAIN ####*/

.main{
    background-color: coral;
    margin: 0 auto;
    width: 80vw;
    
}

/*#### MENU ####*/
a {
    text-decoration: none;
}

.menu{
    background-color: brown;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;

}

.menu > a{
    background: #d0ff0096; 
    border: 3px solid black;
    border-radius: 25%;
    color: black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0 10px;
    padding: 10px;
}

a:hover{
    background-color: gold;
}


/*### ARTIGO ###*/

.artigo{
    letter-spacing: 2px;
    margin: 40px auto;
    overflow: scroll;
    height: 100px;
    
}

.artigo h1{
    letter-spacing: 5px; 
    text-align: center;
}

.artigo p{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    text-align: left;
  
} 

.lista{
    list-style-position: inside;
    list-style-type: lower-greek;
    color: blue;
}

.lista .item3{
    color: red;
}

html,body{
    height: 100%;
}

.header{
    width: 100%;
    height: 200px;
    background-color: #cccaaa;
}

.article{
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-color: red;

}